.root {
    -text-primary: #FFFFFF;
    -text-placeholder: #484848;
    -text-title: #B8860B;
    -text-title-brighter: #FFD700;
    -primary-gold: #FFFB54;
    -secondary-gold: #EEE8AA;
    -bg-button: #DAA520;
}