@import "colors.css";

.bg-black { -fx-background-color: -fx-primary-black; }
.bg-white { -fx-background-color: -fx-primary-white; }

/* Typography */
.text-title-gold {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-accent-gold;
    -fx-font-family: "Serif";
    -fx-text-alignment: center;
}

.text-subtitle-gold {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-bright-gold;
    -fx-font-family: "Serif";
    -fx-text-alignment: center;
}

.text-description {
    -fx-text-fill: -text-description;
    -fx-font-size: 13px;
    -fx-line-spacing: 3px;
    -fx-font-family: "Sans-serif";
    -fx-text-alignment: center;
}

/* Input Fields */
.custom-input {
    -fx-background-color: -fx-input-yellow;
    -fx-background-radius: 10;
    -fx-pref-height: 48;
    -fx-text-fill: -fx-primary-black;
    -fx-prompt-text-fill: -text-placeholder;
    -fx-font-size: 14px;
    -fx-padding: 0 45 0 20; /* Chừa khoảng trống bên phải cho icon/eye button */
    -fx-border-color: transparent;
}

.custom-input:focused {
    -fx-border-color: -fx-accent-gold;
    -fx-border-radius: 10;
    -fx-border-width: 1.5;
}

/* Buttons */
.btn-login {
    -fx-background-color: -fx-button-gold;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

.btn-login:hover {
    -fx-background-color: -fx-accent-gold;
}

.btn-eye {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #444444;
    -fx-font-size: 16px;
}

/* Navigation */
.nav-bar {
    -fx-background-color: -fx-secondary-black;
    -fx-border-color: transparent transparent -fx-accent-gold transparent;
    -fx-border-width: 0 0 1 0;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-primary-white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.nav-button-active {
    -fx-text-fill: -fx-accent-gold;
    -fx-border-color: transparent transparent -fx-accent-gold transparent;
    -fx-border-width: 0 0 2 0;
}

/* Cards */
.book-card {
    -fx-background-color: white;
    -fx-border-color: -custom-border-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
}